/* SettingPage  it is have three background layers */
.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 820px;
  height: 370px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("/src/assets/emages/MaskDark.png") calc(50% - 20px)
      center/cover no-repeat,
    url("/src/assets/emages/MaskMountains.png") calc(50% - 20px) center/cover
      no-repeat;
  box-sizing: border-box;
}
.container::after {
  content: "";
  position: absolute;
  inset: 0;
  background: url("/src/assets/emages/MaskStars.png") calc(50% - 20px)
    center/cover no-repeat;
  mix-blend-mode: screen;
  opacity: 1;
  pointer-events: none;
  z-index: 0;
}
.gameWrapper {
  transition: transform 0.8s ease-in;
  will-change: transform;
}

.slideDown {
  transform: translateY(100%);
}
