/* WinModal.module.css */

.loadingWrapper {
  position: fixed;
  top: 10px;
  left: 0;
  width: 852px;
  height: 400px;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("/src/assets/emages/FonImageSelebr.png") center/cover
    no-repeat;
  box-sizing: border-box;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.6;
  }
}
